/* General */

:root {
  --titles-color: #84bd00;
  --subtitles-color: #63666a;
  --content-color: #63666a;
  --additional-color: #d9d9d6;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  text-align: center;
}

h2 {
  color: var(--titles-color);
  font-size: 2.5rem;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

p {
  font-family: 'Esteban', serif;
}

strong {
  color: var(--titles-color);
}

/* Header */

.header-container {
  align-items: center;
  background-color: rgba(217, 217, 214, 0.5);
  display: flex;
  height: 12rem;
  justify-content: space-between;
}

.header-container a {
  color: var(--content-color);
  display: flex;
  font-size: 1.6rem;
  font-weight: 800;
  height: inherit;
  padding: 0 2rem;
}

.header-container ul {
  display: flex;
  list-style: none;
}

.header-container ul li {
  height: inherit;
}

.header-figure__logo {
  height: 8rem;
}

.header-nav {
  align-items: center;
  display: flex;
  height: inherit;
}

/* Hero */

.hero-container {
  background-color: var(--additional-color);
  background-image: url('../img/hero.png');
  background-size: cover;
  display: flex;
  align-items: center;
  height: 30rem;
  justify-content: center;
}

.hero-title {
  color: var(--white-color);
}

.hero-title span {
  /* color: var(--titles-color); */
  font-weight: 600;
}

/* Portfolio */

.portfolio-container {
  background-color: rgba(217, 217, 214, 0.5);
  padding: 2rem;
}

.portfolio-project {
  align-items: center;
  background-color: var(--white-color);
  border: 0.15rem solid var(--additional-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.portfolio-title {
  margin-bottom: 3rem;
}

.portfolio-project__details {
  margin-right: 2rem;
  width: 50rem;
}

.portfolio-project__title {
  color: var(--subtitles-color);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.portfolio-project__subtitle {
  color: var(--additional-color);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.portfolio-project__date,
.portfolio-project__url {
  color: var(--subtitles-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.portfolio-project__description {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.portfolio-project-figure {
  margin-left: 2rem;
  width: 50rem;
}
.portfolio-project-figure img {
  border-radius: 0.5rem;
}

/* Experiencia */

/* Work together */

/* Footer */

.footer-container {
  align-items: center;
  background-color: var(--content-color);
  color: var(--white-color);
  display: flex;
  height: 2rem;
  justify-content: space-between;
}

.footer-container p {
  font-family: 'Montserrat', sans-serif;
}

.footer-container a {
  color: var(--titles-color);
}
