/* Fuente */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?teoqnh');
  src: url('../fonts/icomoon.eot?teoqnh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?teoqnh') format('truetype'),
    url('../fonts/icomoon.woff?teoqnh') format('woff'),
    url('../fonts/icomoon.svg?teoqnh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: '\e900';
}

/* General */

:root {
  --green-color: #84bd00;
  --gray-color: #63666a;
  --light-gray-color: #d9d9d6;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  text-align: center;
  text-shadow: 1px 3px 3px black;
}

h2 {
  color: var(--green-color);
  font-size: 2.5rem;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

p {
  font-family: 'Esteban', serif;
}

strong {
  color: var(--green-color);
}

.container {
  align-items: inherit;
  /* border: 1px solid red; */
  display: inherit;
  flex: 1;
  flex-wrap: inherit;
  height: inherit;
  justify-content: inherit;
  margin: 0 auto;
  max-width: 1000px;
  /* width: 100%; */
}

.burger-button {
  color: var(--white-color);
  background-color: rgba(132, 189, 0, 0.8);
  border-radius: 50%;
  display: none;
  font-size: 1.3rem;
  height: 4rem;
  left: 1.5rem;
  line-height: 4rem;
  position: fixed;
  text-align: center;
  top: 1.5rem;
  width: 4rem;
  z-index: 1;
}

/* Header */

.header-container {
  align-items: center;
  background-color: rgba(217, 217, 214, 0.5);
  display: flex;
  flex-wrap: wrap;
  height: 12rem;
  justify-content: space-between;
}

.header-container a {
  color: var(--gray-color);
  display: flex;
  font-size: 1.6rem;
  font-weight: 800;
  height: inherit;
  padding: 0 2rem;
}

.header-container ul {
  display: flex;
  list-style: none;
}

.header-container ul li {
  height: inherit;
}

.header-figure__logo {
  height: 8rem;
}

.header-nav {
  align-items: center;
  display: flex;
  height: inherit;
}

/* Hero */

.hero-container {
  background-color: var(--light-gray-color);
  background-image: url('../img/hero.png');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 30rem;
  justify-content: center;
}

.hero-title {
  color: var(--white-color);
}

.hero-title span {
  /* color: var(--titles-color); */
  font-weight: 600;
}

/* Portfolio */

.portfolio-container {
  background-color: rgba(217, 217, 214, 0.5);
  padding: 2rem;
}

.portfolio-project {
  align-items: center;
  background-color: var(--white-color);
  border: 0.15rem solid var(--light-gray-color);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.portfolio-title {
  margin-bottom: 3rem;
}

.portfolio-project__details {
  margin-right: 2rem;
  width: 45rem;
}

.portfolio-project__title {
  color: var(--gray-color);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.portfolio-project__subtitle {
  color: var(--light-gray-color);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.portfolio-project__date,
.portfolio-project__url {
  color: var(--gray-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.portfolio-project__description {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.portfolio-project-figure {
  margin-left: 2rem;
  width: 45rem;
}

.portfolio-project-figure img {
  border-radius: 0.5rem;
  max-width: 100%;
}

/* Experiencia */

.experience-container {
  background-color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.experience-title {
  margin: 2rem;
}

.experience-article {
  background-color: rgba(132, 189, 0, 0.1);
  border-radius: 1rem;
  flex-shrink: 0;
  margin: 1%;
  overflow: hidden;
  width: 48%;
}

.experience-article img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.experience-article__details {
  background-color: var(--white-color);
  margin: 2rem 2.5rem;
  margin-top: -4rem;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.experience-article__title {
  color: var(--gray-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.experience-article__description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

.experience-article__url {
  color: var(--green-color);
  border: 1px solid;
  border-radius: 0.5rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
}

/* Work together */

.work-together-container {
  align-items: center;
  background-color: rgba(217, 217, 214, 0.5);
  color: var(--green-color);
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.work-together__form input {
  background-image: url(../img/envelope.svg);
  background-position-x: 1rem;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  border: 0.5px solid var(--green-color);
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.5rem;
  height: 4rem;
  padding: 0 3.5rem;
  width: 30rem;
}

.work-together__form input::placeholder {
  color: var(--light-gray-color);
}

.work-together__form input:focus {
  outline: none;
}

.work-together__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.work-together__button {
  color: white;
  cursor: pointer;
  background-color: var(--green-color);
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.5rem;
  height: 4rem;
  margin-left: -0.5rem;
  width: 12rem;
}

.work-together__link {
  background-size: 5rem 5rem;
  display: inline-block;
  height: 5rem;
  margin: 0 1rem;
  width: 5rem;
}
.work-together__link.twitter {
  background-image: url(../img/twitter.svg);
}

.work-together__link.instagram {
  background-image: url(../img/instagram.svg);
}

.work-together__link.github {
  background-image: url(../img/github.svg);
}

.work-together__link.behance {
  background-image: url(../img/behance.svg);
}

/* Footer */

.footer-container {
  align-items: center;
  background-color: var(--gray-color);
  color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.footer-container p {
  font-family: 'Montserrat', sans-serif;
}

.footer-container a {
  color: var(--green-color);
}

/* Media queries */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    line-height: 4rem;
  }

  .header-container {
    display: block;
    height: auto;
  }

  .header-container a {
    justify-content: center;
  }

  .header-container nav {
    justify-content: center;
  }

  .header-container ul {
    display: block;
  }

  .header-container ul li {
    height: 50px;
  }

  .header-figure {
    padding: 30px 0;
  }

  .portfolio-project {
    display: block;
  }

  .portfolio-project__details {
    margin: auto;
    padding-bottom: 2rem;
    width: auto;
  }

  .portfolio-project-figure {
    margin: auto;
    text-align: center;
    width: auto;
  }

  .experience-article {
    margin: 2%;
  }

  .experience-article {
    flex-shrink: initial;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
  }

  .burger-button {
    display: block;
    z-index: 2;
  }

  .header-container a {
    color: var(--white-color);
    font-size: 2.5rem;
    margin: 3rem auto;
    text-decoration: underline;
  }

  .header-nav {
    background-color: rgba(99, 102, 106, 0.9);
    bottom: 0;
    /* height: 100vh; */
    position: fixed;
    left: -100vw;
    top: 0;
    transition: 0.3s;
    width: 100vw;
    z-index: 1;
  }

  .header-nav.active-nav {
    left: 0;
  }

  .hero-container {
    height: 20rem;
  }

  .portfolio-project__date,
  .portfolio-project__url {
    font-size: 1.5rem;
  }

  .portfolio-project__description {
    font-size: 1.8rem;
  }

  .work-together-container {
    display: block;
    height: auto;
    padding: 0 1rem;
    text-align: center;
  }

  .work-together__form {
    padding-top: 2rem;
  }

  .work-together__form input {
    margin-bottom: 2.5rem;
    width: 25rem;
  }

  .work-together__button {
    margin-bottom: 2.5rem;
    width: 8rem;
  }

  .work-together__social {
    padding-bottom: 3rem;
  }

  .footer-container {
    display: block;
    text-align: center;
  }

  .footer-credits {
    padding-top: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
  }

  .work-together__form input {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 25rem;
  }

  .work-together__button {
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
    width: 8rem;
  }

  .footer-container {
    height: 6rem;
  }

  .footer-credits {
    padding-top: 1.5rem;
  }
}
